{% extends 'frontend.html.twig' %}

{% block content %}
<main role="main" class="container">
  <h1>Info</h1>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Time</th>
        <td>{{block["time"]}}</td>
      </tr>
	  <tr>
        <th scope="row">Timestamp</th>
        <td>{{block["timestamp"]}}</td>
      </tr>
	  <tr>
        <th scope="row">Flags</th>
        <td>{{block["flags"]}}</td>
      </tr>
	  <tr>
        <th scope="row">File pos</th>
        <td>{{block["file pos"]}}</td>
      </tr>
	  <tr>
        <th scope="row">Hash</th>
        <td>{{block["hash"]}}</td>
      </tr>
	  <tr>
        <th scope="row">Difficulty</th>
        <td>{{block["difficulty"]}}</td>
      </tr>
	  <tr>
        <th scope="row">Balance</th>
        <td>{{block["balance"]}}</td>
      </tr>
    </tbody>
  </table>

  <h1>Block as transaction</h1>
  <div class="count">
    Total: {{ transaction_pagination.getTotalItemCount }}
  </div>

  <table class="table">
	<thead>
	  <tr>
		<th scope="col">Direction</th>
		<th scope="col">Address</th>
		<th scope="col">{{ knp_pagination_sortable(transaction_pagination, 'Amount', '[amount]') }}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for element in transaction_pagination %}
	  <tr>
		<td><span class="{{ element["direction"]|lower }}">{{ element["direction"] }}</span></td>
		<td><a href="{{ path('block', {'input':element["address"]}) }}">{{ element["address"] }}</a></td>
		<td>{{ element["amount"] }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
  <div class="navigation">
    {{ knp_pagination_render(transaction_pagination) }}
  </div>

  <h1>Block as address</h1>
  <div class="count">
    Total: {{ address_pagination.getTotalItemCount }}
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Direction</th>
          <th scope="col">Transaction</th>
          <th scope="col">{{ knp_pagination_sortable(address_pagination, 'Amount', '[amount]') }}</th>
          <th scope="col">{{ knp_pagination_sortable(address_pagination, 'Time', '[time]') }}</th>
        </tr>
      </thead>
    <tbody>
	{% for element in address_pagination %}
        <tr>
          <td><span class="{{ element["direction"]|lower }}">{{ element["direction"] }}</span></td>
          <td><a href="{{ path('block', {'input':element["address"]}) }}">{{ element["address"] }}</a></td>
          <td>{{ element["amount"] }}</td>
          <td>{{ element["time"] }}</td>
        </tr>
	{% endfor %}
    </tbody>
  </table>

  <div class="navigation">
    {{ knp_pagination_render(address_pagination) }}
  </div>
</main>

{% endblock %}
