{% extends 'frontend.html.twig' %}

{% block content %}
<main role="main" class="container">
<h1>Network information</h1>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Blocks</th>
        <td>{{ blocks | number_format }}</td>
      </tr>
      <tr>
        <th scope="row">Main blocks</th>
        <td>{{ main_blocks | number_format}}</td>
      </tr>
      <tr>
        <th scope="row">Supply</th>
        <td>{{ supply | number_format }}</td>
      </tr>
      <tr>
        <th scope="row">Network hashrate</th>
        <td>{{ hashrate | format_hashrate }}</td>
      </tr>
      <tr>
        <th scope="row">Difficulty</th>
        <td>{{ difficulty }}</td>
      </tr>
    </tbody>
  </table>

  <h1>Last blocks</h1>
    <table class="table">
      <tbody>
        {% for block in lastblocks %}
          <tr>
            <td><a href="{{ path('block', {'input':block}) }}">{{ block }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</main>

{% endblock %}
